//===================================== HERO START =====================================//

.hero {
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 83px 0;
    
    .hero_title {
        width: 394px;
        color: #2D314D;
        font-size: 56px;
        font-style: normal;
        font-weight: 100;
        line-height: 64px;
        letter-spacing: -1px;
        margin-bottom: 25px;
    }

    .hero_text {
        width: 431px;
        color: #9597A5;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.281px;
        margin-bottom: 24px;
    }

    .btn {
        padding: 8px 36px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
    }

    .hero_img {
        margin-left: 260px;
        width: 403px;
        height: 478px;
    }
}

//===================================== HERO END =====================================//