@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700&display=swap");
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: inline-block;
}

button {
  cursor: pointer;
}

span {
  display: inline-block;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  padding-top: 18px;
  margin-bottom: 18px;
}
.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-box ul {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-box ul a {
  color: #9597A5;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.108px;
}
.header-box .box-link {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 8px 35px;
  border-radius: 22px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

.hero {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 83px 0;
}
.hero .hero_title {
  width: 394px;
  color: #2D314D;
  font-size: 56px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 25px;
}
.hero .hero_text {
  width: 431px;
  color: #9597A5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.281px;
  margin-bottom: 24px;
}
.hero .btn {
  padding: 8px 36px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.hero .hero_img {
  margin-left: 260px;
  width: 403px;
  height: 478px;
}

.info {
  width: 100%;
  background: #F4F5F7;
  padding: 95px 0;
  margin-bottom: 78px;
}
.info h2 {
  color: #2D314D;
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.714px;
  margin-bottom: 16px;
}
.info p {
  width: 635px;
  color: #9597A5;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.281px;
  margin-bottom: 72px;
}
.info ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.info ul img {
  margin-bottom: 40px;
}
.info ul h4 {
  color: #2D314D;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: -0.429px;
  margin-bottom: 26px;
}
.info ul p {
  width: 255px;
  color: #9597A5;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
}

.test {
  margin-bottom: 80px;
}
.test h2 {
  color: #2D314D;
  font-size: 40px;
  font-style: normal;
  font-weight: 100;
  line-height: 64px;
  letter-spacing: -0.714px;
  margin-bottom: 40px;
}
.test ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 30px;
}
.test ul li {
  width: 255px;
  height: 395px;
  border-radius: 5px;
  background-color: #fafafa;
}
.test ul li img {
  margin-bottom: 25px;
}
.test ul li h4 {
  margin-left: 24px;
  color: #9597A5;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.156px;
  margin-bottom: 8px;
}
.test ul li .test-text {
  width: 207px;
  margin-left: 24px;
  color: #2D314D;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: -0.286px;
  margin-bottom: 8px;
}
.test ul li p {
  width: 207px;
  margin-left: 24px;
  color: #9597A5;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.203px;
}

.footer {
  width: 100%;
  padding: 48px 0;
  background: #2D314D;
}
.footer-box {
  display: flex;
}
.footer .footer-wrapper {
  display: flex;
}
.footer .footer-wrapper .footer-img {
  margin-bottom: 55px;
  display: block;
}
.footer a {
  margin-left: 131px;
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
  margin-bottom: 8px;
}
.footer-button {
  text-align: right;
  margin-left: 275px;
}
.footer-button button {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding: 8px 35px;
  border: none;
  border-radius: 22px;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  margin-bottom: 24px;
}
.footer-button p {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
}/*# sourceMappingURL=main.css.map */